.root {
    position: absolute;
    display: flex;
}

.oneFamilyMemberDiv {
    display: flex;
    flex: 1;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px 10px;
    overflow: hidden;
    padding: 5px;
    background-color: white;
}

.male {
    background: #a4ecff;
}

.female {
    background: #fdaed8;
}

.isRoot {
    border: 2px solid rgba(255, 0, 0, 0.6);
}

.FamilyMemberName {
    font-family: Roboto;
    text-transform: uppercase;
    float: left;
    position: fixed;
    left: 50%;
    bottom: 2px;
    transform: translate(-50%, 0%);
    margin: 0 auto;
    background-color: white;
}
