.root {
  display: flex;
  flex-direction: column;
  background: #eee;
  height: 100%;
}

.header {
  display: flex;
  height: 48px;
  padding: 0 20px;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  border-bottom: 1px solid #ddd;
  z-index: 999;
}

.title {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: 500;
}

.wrapper {
  flex: 1;
}

.tree {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.reset {
  position: absolute;
  right: 10px;
  top: 60px;
  padding: 4px 10px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  line-height: 1;
  cursor: pointer;
}

/*Helper function for family tree*/

.button {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 50%;
}

.half-black {
  background: rgba(0, 0, 0, 0.5);
}
