body {
    background-color: white;
    color: black;

    margin: 0;
}

h1, h2, p, ul, li {
    font-family: Roboto;
    margin: 0;
}

/* header bar*/
ul.header {
    background-color: dimgrey;
}

/*Header Item*/
ul.header li {
    display: inline;
    list-style-type: none;
    margin: 0;
}

/*Header Item hover*/
ul.header li :hover {
    color: cornflowerblue;
    background-color: lightgrey;
}

ul.header li a {
    text-align: left;
    color: #FFF;
    font-weight: bold;
    text-decoration: none;
    padding: 15px;
    display: inline-block;
}

.active {
    background-color: darkgrey;
}

.Titel {
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #3F51B5;
    color: white;
}

.ChangingContent {
    padding: 20px;
    list-style-type: none;
    margin: auto;
    width: 80%;
    left: 50%;
    color: black;
}

.StartButtonDiv {
    float: left;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
    margin: 5px;
    margin-top: 30px;
}

.StepContent {
    max-height: calc(100vh - 320px);
    overflow-y: auto;
    padding: 10px;
}

.SozialanamneseNavigationsButton {
    float: left;
    position: fixed;
    left: 50%;
    bottom: 20px;
    transform: translate(-50%, -50%);
    margin: 0 auto;
}

.SozialanamneseSendButton {
    position: fixed;
    left: 50%;
    bottom: 80px;
    transform: translate(-50%, -50%);
    margin: 0 auto;
}

.FamilienanamneseDatenHerunterladen {
    position: fixed;
    left: 50%;
    top: 200px;
    transform: translate(-50%, -50%);
    margin: 0 auto;
}

.MilitaerdienstButtons {
    margin-right: 15px;
    margin-top: 18px;
    float: left;
}


.Berufstaetigkeit {
    margin: auto;
}

.BerufstaetigkeitButtons {
    margin-right: 15px;
    margin-top: 18px;
    float: left;
}

.BerufstaetigkeitButtonRight {
    margin-top: 5px;
}

.ArbeitspensumSlider {
    margin-top: 45px;
    margin-left: 30px;
    width: 90%;
}

.ArbeitszustandEingeblendetesDiv {
    margin-top: 15px;
    margin-bottom: 5px;
}

.DatePicker {
    margin-top: 5px;
    float: left;
}

.DatePickerArbeitsunfaehigkeit {
    float: left;
}

.DatePickerArbeitsunfaehigkeit2 {
    margin-left: 50px;
    float: left;
}

.ArbeitsunfaehigkeitInProzent {
    margin-top: 100px;
    clear: left;
    width: 90%;
}

.ArbeitsunfähigkeitSlider {
    margin-top: 50px;
    margin-left: 30px;
    clear: left;
    width: 90%;
}


.FamilyTreeContent {
    padding: 20px;
    list-style-type: none;
    margin: auto;
    width: 90%;
    left: 50%;
    color: black;
}

.FamilyTreeStepContent {
    max-height: calc(100vh - 350px);
    overflow-y: auto;
    padding: 10px;
}

::-webkit-scrollbar {
    appearance: none;
}

::-webkit-scrollbar:vertical {
    width: 15px;
}

::-webkit-scrollbar-thumb {
    border: 1px solid white; /* should match background, can't be transparent */
    background-color: rgba(0, 0, 0, .5);
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, .7);
}

::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.09);
}

::-webkit-scrollbar-button:vertical:decrement {
    background-color: white;
    height: 17px;
    border-style: solid;
    border-width: 0 7px 14px 7px;
    border-color: transparent transparent rgba(0, 0, 0, .5) transparent;
}

::-webkit-scrollbar-button:vertical:decrement:hover {
    border-color: transparent transparent rgba(0, 0, 0, .7) transparent;
}

::-webkit-scrollbar-button:vertical:increment {
    background-color: white;
    height: 17px;
    border-style: solid;
    border-width: 14px 7px 0 7px;
    border-color: rgba(0, 0, 0, .5) transparent transparent transparent;
}

::-webkit-scrollbar-button:vertical:increment:hover {
    border-color: rgba(0, 0, 0, .7) transparent transparent transparent;
}

.FamilyTreeNavigationsButton {
    float: left;
    position: fixed;
    left: 50%;
    bottom: 3%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
}

.dialogContentDiv {
    height: 90vh;
    width: 70vh;
    overflow: hidden;
}


.FamilyMemberZustandButton {
    margin-right: 15px;
    margin-top: 18px;
    float: left;
}

.addFamilyMembersButtons {
    margin: 10px;
    width: fit-content;
}

.addOtherFamilyMembersButtons {
    margin: 10px 0 auto;
    width: fit-content;
}

.FamilyTreeDiv {
    margin: 0 auto;
    padding: 5px;
    width: fit-content;
}

.genderSelectionDiv {
    float: left;
    text-align: center;
}

.OtherFamilyMemberPortraitDiv {
    float: left;
    text-align: center;
    max-height: 400px;
}

.genderSelection {
    margin-bottom: 30px;
    margin-top: -5px;
}

.otherFamilyMemberNameDiv {
    margin-bottom: 10px;
    margin-top: -5px;
}

.Tutorial {
    font-family: Roboto;
    position: fixed;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    color: white;
    z-index: 200;
}

.HilfeButton {
    position: absolute;
    bottom: 15px;
    left: 15px;
    z-index: 10000;
    padding: 5px;
}

.AbschliessenButton {
    position: absolute;
    bottom: 15px;
    right: 15px;
    padding: 5px;
}

.TutorialButtons {
    float: left;
    position: fixed;
    left: 50%;
    bottom: 20px;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    z-index: 10000;
}

.TutorialText {
    padding-left: 20px;
    padding-top: 20px;
}

.OtherFamilyDiv {
    margin: 11px 5px auto;
    padding: 5px;
    border: 2px solid #ddd;
    border-radius: 5px;
    overflow-y: auto;
    height: 454px;
    max-height: 470px;
}

.Left {
    width: 84%;
    height: 100%;
    float: left;
}

.BigFamilyTreeContainer {
    width: 95%;
    max-width: 95%;
    height: auto;
    float: left;
    overflow-x: auto;
}

.Right {
    width: 15%;
    height: 100%;
    position: relative;
    float: right;
}


.ErrorMessageForNotSelectedButtons {
    color: #f44336;
    font-size: 12px;
    margin: 8px 14px 0;
    padding-top: 8px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    clear: left;
}


.ErrorMessageForNotSelectedButtonsOtherFMGender {
    color: #f44336;
    font-size: 12px;
    margin: 0 14px 0;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}




